---
---

@import "{{ site.theme }}";
<style>
body {
  background-color: #0F0524;
  color: white;
}

h1 {
  background-color: black;
  color: orange;
}

div {
  background-color: blue;
  color: yellow;
}

a:link {
  color: orange;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
</style>
