---
---

@import "{{ site.theme }}";
.page-header {
  color: #fff;
  text-align: center;
  background-color: #159957;
  background-image: linear-gradient(120deg, #7236F3, #210363);
  padding: 1.5rem 2rem;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: #170636;
  color: white;
}

h1 {
  background-color: none;
  color: orange;
}

h2 {
  background-color: none;
  color: orange;
}

h3 {
  background-color: none;
  color: orange;
}

h4 {
  background-color: none;
  color: orange;
}

div {
  background-color: none;
  color: white;
}

a:link {
  color: orange;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: red;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
.button {
  background-color: blue;
  color: white;
  transition-duration: 0.4s;
}
.button:hover {
  background-color: #04AA6D; /* Green */
  color: white;
}
.figure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.blockquote {
  background-color: lightgrey;
  color: red
}
.top {
  text-decoration: none;
  padding: 10px;
  font-family: sans-serif;
  color: #fff;
  background: #000;
  border-radius: 100px;
  position: sticky;
  bottom: 20px;
}
