---
---

@import "{{ site.theme }}";
.page-header {
  color: #fff;
  text-align: center;
  background-color: #159957;
  background-image: linear-gradient(120deg, #7236F3, #210363);
  padding: 1.5rem 2rem;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body {
  background-color: #170636;
  color: white;
}

h1 {
  background-color: none;
  color: orange;
}

h2 {
  background-color: none;
  color: orange;
}

h3 {
  background-color: none;
  color: orange;
}

h4 {
  background-color: none;
  color: orange;
}

div {
  background-color: none;
  color: yellow;
}

a:link {
  color: orange;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
.button {
  background-color: orange;
  color: white;
  }
