
<!DOCTYPE html>
<html lang="{{ site.lang | default: "hi-HI" }}">
  <head>
    <meta charset="UTF-8">
    <meta property="og:image" content="https://darth-coin.github.io/assets/images/darthcoin-door-btc.jpg" />
    <link rel="shortcut icon" type="image/png" 
      href="{{ "/assets/images/darthcoin-btc.png"  | absolute_url }}">
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/feed.xml">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#356ED6">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% include head-custom.html %}

  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h2 class="project-name">{{ page.title }}</h2>
      <h3 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h3>
    <nav>
    <a href="../">
      <button style="background-color:orange; color:black" class="w3-xlarge"><i class="fa fa-home"></i></button>
    </a>
    <a href="/general/general-hi.html">
      <button style="background-color:orange; color:black">सामान्य</button>
    </a>
    <a href="/beginner/beginner-hi.html">
      <button style="background-color:orange; color:black">शुरुआती</button>
    </a>
    <a href="/wallets/wallets-hi.html">
      <button style="background-color:orange; color:black">पर्स</button>
    </a>
    <a href="/nodes/nodes-hi.html">
      <button style="background-color:orange; color:black">नोड्स</button>
    </a>
    <a href="/merchants/merchants-hi.html">
      <button style="background-color:orange; color:black">व्यापारियों</button>
    </a>
    <a href="/resources-hi.html">
      <button style="background-color:orange; color:black">संसाधन</button>
    </a>
    <a href="/sn-guides-hi.html">
      <button style="background-color:orange; color:black">SN गाइड</button>
    </a>
    </nav>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
      <center>
      <h2 style="color:orange;"><strong>आईटीकॉइन आपके साथ रहे!</strong></h2>
      <p>यदि आप इन गाइडों की सराहना करते हैं, तो आप कुछ सातोशी भेज सकते हैं Bitcoin Lightning Network (LN):</p>
      <p><a href="https://pay.blink.sv/darthcoin?amount=0&memo=DarthCoin+tip&display=SAT" target="_blank"><img src="/assets/images/QR-LNURL.png" class="center" style="width:20%;"></a></p>
      <p>या लाइटनिंग एड्रेस का उपयोग करके:</p>
      <p><a href="https://getalby.com/p/darthcoin" target="_blank">darthcoin@getalby.com</a> | <a href="https://pay.blink.sv/darthcoin?amount=0&memo=DarthCoin+tip&display=SAT" target="_blank">darthcoin@blink.sv</a> | <a href="https://coinos.io/darthcoin">darthcoin@coinos.io</a></p>
      <p>darthcoin@minibits.cash | darthcoin@walletano.com</p>
      <p style="color:Tomato;"><i>हां, ये सभी सार्वजनिक एलएन पते संरक्षक हैं, लेकिन मैं उन्हें एक डीकोय के रूप में उपयोग करता हूं</i></p>
      <p style="color:Tomato;"><i>सार्वजनिक और निजी पतों का उपयोग करना सीखें</i></p>
      <a class="btn btn-rss" href="/feed.xml" target="_blank">RSS</a>
      </center>
      </footer>
    </main>
  </body>
</html>
