<!DOCTYPE html>
<html lang="{{ site.lang | default: "es-ES" }}">
  <head>
    <meta charset="UTF-8">
    <meta property="og:image" content="https://darth-coin.github.io/assets/images/darthcoin-door-btc.jpg" />
    <link rel="shortcut icon" type="image/png" 
      href="{{ "/assets/images/darthcoin-btc.png"  | absolute_url }}">
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/feed.xml">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#356ED6">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% include head-custom.html %}

  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h2 class="project-name">{{ page.title }}</h2>
      <h3 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h3>
    <nav>
    <a href="../">
      <button style="background-color:orange; color:black" class="w3-xlarge"><i class="fa fa-home"></i></button>
    </a>
    <a href="/general/general-es.html">
      <button style="background-color:orange; color:black">General</button>
    </a>
    <a href="/beginner/beginner-es.html">
      <button style="background-color:orange; color:black">Principiante</button>
    </a>
    <a href="/wallets/wallets-es.html">
      <button style="background-color:orange; color:black">Monederos</button>
    </a>
    <a href="/nodes/nodes-es.html">
      <button style="background-color:orange; color:black">Nodos</button>
    </a>
    <a href="/merchants/merchants-es.html">
      <button style="background-color:orange; color:black">Comerciantes</button>
    </a>
    <a href="/resources-es.html">
      <button style="background-color:orange; color:black">Recursos</button>
    </a>
    <a href="/sn-guides-es.html">
      <button style="background-color:orange; color:black">Guías SN</button>
    </a>
    </nav>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
      <center>
      <h2 style="color:orange;"><strong>¡QUE EL ₿ITCOIN ESTE CONTIGO!</strong></h2>
      <p>Si valoras estas guías, puedes enviar algunos satoshis a través de Bitcoin Lightning Network (LN):</p>
      <p><a href="https://pay.blink.sv/darthcoin?amount=0&memo=DarthCoin+tip&display=SAT" target="_blank"><img src="/assets/images/QR-LNURL.png" class="center" style="width:20%;"></a></p>
      <p>o usar Lightning Address para:</p>
      <p>| darthcoin@sats.mobi | <a href="https://pay.blink.sv/darthcoin?amount=0&memo=DarthCoin+tip&display=SAT" target="_blank">darthcoin@blink.sv</a> | <a href="https://coinos.io/pay/DarthCoin" target="_blank">darthcoin@coinos.io</a> | darthcoin@walletano.com | <a href="https://lnvoltz.com/tipjar/C3rzejX5XX3Kc2cyWg5TTg" target="_blank">darthcoin@lnvoltz.com</a> | darthcoin@rizful.com |</p>
      <p style="color:Tomato;"><i>Sí, todas estas direcciones LN públicas son de custodia, pero las uso como señuelo.</i></p>
      <p style="color:Tomato;"><i>Aprenda a utilizar direcciones públicas y privadas.</i></p>
      <a class="btn btn-rss" href="/feed.xml" target="_blank">RSS</a>
      </center>
      </footer>
    </main>
  </body>
</html>
